.panel {
  background-color: var(--x-ui-background-color);
  padding: 1em;
  margin: 0;
  border: 1pt solid var(--x-ui-border-color);
  border-radius: 1em;
  overflow: hidden;
}

main {
  display: flex;
}

#documentContent {
  user-select: text;
}

li.active {
  font-weight: bold;
  background-color: var(--x-ui-content-light-background);
}

/* li:hover {
    cursor: pointer;
    background-color: var(--x-ui-hover-background-color);
} */

.model-container {
  border: 1.5px solid var(--x-ui-border-color);
  padding: 0.5em;
  margin: 0.5em;
}

.model-container:hover {
  border-color: var(--x-ui-hover-border-color);
  cursor: pointer;
}

.model-container.active {
  border: 2px solid var(--wfadaptor-highlight);
}

.bottom-bar {
  /* display: flex;
    justify-content: space-between;
    align-items: center; */
  display: flex;
  padding: 0.5em 1em;
  border-top: 1pt solid var(--x-ui-border-color);
  background-color: var(--x-ui-background-color);
}

.button-group {
  margin-left: auto;
  display: flex;
  gap: 1em;
}
/* button {
    padding: 1em;
    border: 1pt solid var(--x-ui-border-color);
    border-radius: 0.5em;
    background-color: var(--x-ui-content-light-background);
    cursor: pointer;
} */

button:disabled {
  background-color: var(--x-ui-disabled-background-color);
  color: lightgray;
}
/*
#highlightLayer {
            /* position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            pointer-events: none; 
        }*/

.range-wrapper {
  position: fixed;
  /* pointer-events: none; */
  /* background-color: yellow; */
}

.range-wrapper.selected {
  border: 2px solid red;
  /* background-color: yellow; */
}

#traceLayer .range-wrapper.active .range-rect {
  background-color: yellow;
  /* background-color: yellow; */
}
#traceLayer .range-wrapper.selected .range-rect {
  background-color: red;
  /* background-color: yellow; */
}
.range-rect {
  position: fixed;
  opacity: 0.5;
  pointer-events: auto;
  /* border: 2px solid red; */
  /* background-color: yellow; */
}
#traceLayer .range-rect {
  background-color: lightgrey;
}

#temporarySelectionsLayer .range-rect {
  background-color: blue;
}

.label-span {
  position: fixed;
  background-color: orange;
  color: black;
  font-size: 0.8em;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  /* z-index: 10; */
  pointer-events: auto;
  cursor: pointer;
}
/*
.selected {
  background-color: blue;
  position: fixed;
  opacity: 0.7;
  pointer-events: auto;
}
 ::selection {
  background: transparent;
} */
