/* main {
  display: flex;
} */
#main {
  padding: 0.6em;
}
/* -- x-ui overrides --*/
*[is="x-ui-"] ui-tabbed ui-content {
  margin: 0;
  border-width: 2px;
}
*[is="x-ui-"] ui-tabbed ui-tab {
  border-width: 2px;
}
*[is="x-ui-"] ui-tabbed ui-tabbar {
  padding: 0;
}

ui-resizehandle[data-direction="vertical"] {
  flex: 0 0 1em;
  cursor: col-resize;
  user-select: none;
  position: relative;
  padding: 0;
  margin-left: -0.175em;
  margin-right: -0.175em;
}

ui-resizehandle[data-direction="vertical"]::before {
  content: "";
  position: absolute;

  top: 50%;
  left: 50%;

  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--x-ui-border-color);

  transform: translate(-50%, -50%);

  box-shadow:
    0 -6px 0 var(--x-ui-border-color),
    0 6px 0 var(--x-ui-border-color);
}

ui-resizehandle[data-direction="vertical"]:hover::before {
  background: #666;
  box-shadow:
    0 -6px 0 #666,
    0 6px 0 #666;
}

/* ui-resizehandle[data-direction="horizontal"] { */
/* flex: 0 0 0.65em;
  display: block;
  cursor: row-resize;
  user-select: none;
  position: relative;
  padding: 0;
  margin-top: 0.2em;
  margin-bottom: -0.5em;
  background-color: #666;
  /* border: 1px solid var(--x-ui-border-color); */
/* } */
/* ui-resizehandle[data-direction="horizontal"]:hover + ui-divider {
  border-width: 2pt; */
/* border-color: #666; */
/* } */
ui-resizehandle[data-direction="horizontal"] {
  flex: 0 0 1em; /* 命中宽度 10px */
  display: block;
  position: relative;
  cursor: row-resize;
  user-select: none;
  background: transparent; /* 本体透明 */
  margin-top: -0.5em;
  margin-bottom: -0.5em;
}

/* 中间细线 */
ui-resizehandle[data-direction="horizontal"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1pt;
  background: var(--x-ui-border-color);
  transform: translateY(-50%);
}

/* hover/drag 时稍微明显一点（可选） */
ui-resizehandle:hover::before {
  background: rgba(0, 0, 0, 0.45);
}
body.drag-in-progress ui-resizehandle::before {
  background: rgba(59, 130, 246, 0.9);
}

/* -- my ui styles -- */
ui-bar {
  display: flex;
  padding: 0.5em 1em;
}

ui-divider {
  display: block;
  width: 100%;
  border-top: 1pt solid var(--x-ui-border-color);
}

.panel {
  background-color: var(--x-ui-background-color);
  padding: 1em;
  margin: 0;
  border: 2px solid var(--x-ui-border-color);
  border-radius: 1em;
  overflow: hidden;
  min-width: 180px;
}

#documentList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 20%;
  height: 80vh;
  overflow-y: auto;
  border-right: 1pt solid var(--x-ui-border-color);
  padding-right: 0.5em; */
}

#documentContent {
  user-select: text;
}

li.active {
  font-weight: bold;
  background-color: var(--x-ui-content-light-background);
}

/* li:hover {
    cursor: pointer;
    background-color: var(--x-ui-hover-background-color);
} */

#modelPromptContainer {
  /* display: flex;
  flex-direction: column; */
  margin: 0.5em;
  border: 0.5pt solid var(--x-ui-border-color);
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
}
.model-container {
  border: 1.5px solid var(--x-ui-border-color);
  padding: 0.5em;
  margin: 0.5em;
}

.model-container:hover {
  border-color: var(--x-ui-hover-border-color);
  cursor: pointer;
}

.model-container.active {
  border: 2px solid var(--wfadaptor-highlight);
}

/* .bar {
  height: 4px;
  background-color: var(--wfadaptor-base);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
} */
.bottom-bar {
  /* display: flex;
    justify-content: space-between;
    align-items: center; */
  /* display: flex; */

  border-top: 1pt solid var(--x-ui-border-color);
  background-color: var(--x-ui-background-color);
}
ui-bar > .right {
  margin-left: auto;
}
.button-group {
  display: flex;
  gap: 1em;
}
/* button {
    padding: 1em;
    border: 1pt solid var(--x-ui-border-color);
    border-radius: 0.5em;
    background-color: var(--x-ui-content-light-background);
    cursor: pointer;
} */

button:disabled {
  background-color: var(--x-ui-disabled-background-color);
  color: lightgray;
}
/*
#highlightLayer {
            /* position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            pointer-events: none; 
        }*/

.selection-wrapper {
  position: fixed;
  pointer-events: none;
  /* background-color: yellow; */
}

.selection-wrapper.selected {
  border: 2px solid red;
  /* background-color: yellow; */
}

#tracesLayer .selection-wrapper.active .range-rect {
  background-color: yellow;
  /* background-color: yellow; */
}
#tracesLayer .selection-wrapper.selected .range-rect {
  background-color: red;
  /* background-color: yellow; */
}
.range-rect {
  position: fixed;
  opacity: 0.5;
  pointer-events: auto;
  /* border: 2px solid red; */
  /* background-color: yellow; */
}
#tracesLayer .range-rect {
  background-color: lightgrey;
}

#temporarySelectionsLayer .range-rect {
  background-color: blue;
}

.label-span {
  position: fixed;
  background-color: orange;
  color: black;
  font-size: 0.8em;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  /* z-index: 10; */
  pointer-events: auto;
  cursor: pointer;
}

/*
.selected {
  background-color: blue;
  position: fixed;
  opacity: 0.7;
  pointer-events: auto;
}
 ::selection {
  background: transparent;
} */
