/*
  This file is part of CPEE.

  CPEE is free software: you can redistribute it and/or modify it under the terms
  of the GNU General Public License as published by the Free Software Foundation,
  either version 3 of the License, or (at your option) any later version.

  CPEE is distributed in the hope that it will be useful, but WITHOUT ANY
  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
  PARTICULAR PURPOSE.  See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  CPEE (file COPYING in the main directory).  If not, see
  <http://www.gnu.org/licenses/>.
*/

:root {
  --wfadaptor-exec-passive: #729fcf;
  --wfadaptor-exec-active: #ef2929;
  --wfadaptor-exec-active-text: #cc0000;
  --wfadaptor-exec-vote: #8de5bcff;
  --wfadaptor-exec-vote-text: #73d216;
  --wfadaptor-highlight: #0081c7;
  --wfadaptor-base: #000000;
  --wfadaptor-base-light: #A9A9A9;
  --wfadaptor-label: #e4e4e4;
  --wfadaptor-mark: #d4d4d4;

  --wfadaptor-selected: #f57900;
  --wfadaptor-selected-border: #000000;
  --wfadaptor-selected-text: #f57900;
  --wfadaptor-hover: #f57900;
  --wfadaptor-hover-border: #000000;

  --wfadaptor-stripe: #e9e9e9;
  --wfadaptor-background: #ffffff;
  --wfadaptor-border: #a1a1a1;
  --wfadaptor-important: #ef2929;
}

svg {
  display:inline;
  margin:0;
  padding:0;
  font-family: adawaita-sans;
  user-select: none;
}

svg .duration {
  stroke: var(--wfadaptor-label);
}

/*
svg [style*='--custom-color'] {
	fill: url(#custom-gradient);
}
*/

svg rect.group {
  fill: var(--wfadaptor-highlight);
  fill-opacity: 0.2;
}
svg rect.stripe.even {
  fill: var(--wfadaptor-background);
}
svg rect.stripe.odd {
  fill: var(--wfadaptor-stripe);
}

svg g.passive .execstyle {
  stroke: var(--wfadaptor-exec-passive);
  stroke-width: 4;
  stroke-linecap:round;
  stroke-linejoin:round;
}
svg g.active .execstyle {
  stroke: var(--wfadaptor-exec-active);
  stroke-width: 4;
  stroke-linecap:round;
  stroke-linejoin:round;
}
svg g.vote .execstyle {
  stroke: var(--wfadaptor-exec-vote);
  stroke-width: 4;
  stroke-linecap:round;
  stroke-linejoin:round;
}

svg g.passive .execstylethin {
  stroke: var(--wfadaptor-exec-passive);
  stroke-width: 2;
  stroke-linecap:round;
  stroke-linejoin:round;
}
svg g.active .execstylethin {
  stroke: var(--wfadaptor-exec-active);
  stroke-width: 2;
  stroke-linecap:round;
  stroke-linejoin:round;
}
svg g.vote .execstylethin {
  stroke: var(--wfadaptor-exec-vote);
  stroke-width: 2;
  stroke-linecap:round;
  stroke-linejoin:round;
}

svg line.edge, svg path.edge {
  stroke-opacity:1;
  stroke: var(--wfadaptor-base);
  stroke-width: 2;
  fill: none;
}

svg rect.block {
  stroke-width: 1;
  stroke-dasharray: 3,5;
  stroke: var(--wfadaptor-base);
  fill: none;
}
svg rect.tile {
  stroke-width: 1;
  stroke-dasharray: 3,5;
  fill: var(--wfadaptor-highlight);
  fill-opacity: 0.3;
  display: none;
}
svg .standline {
  stroke: var(--wfadaptor-base);
  stroke-width:1.6;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
svg .stand {
  fill: var(--wfadaptor-background);
  fill-opacity:1;
  stroke: var(--wfadaptor-base);
  stroke-width:1.6;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
svg .standthin {
  fill: var(--wfadaptor-background);
  fill-opacity:1;
  stroke: var(--wfadaptor-base);
  stroke-width: 1.0 !important;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
svg .standfat {
  fill: var(--wfadaptor-background);
  fill-opacity:1;
  stroke: var(--wfadaptor-base);
  stroke-width:3;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
svg .greyfat {
  fill: var(--wfadaptor-background);
  fill-opacity:1;
  stroke: var(--wfadaptor-base-light);
  stroke-width:3;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
svg .normal {
  fill: var(--wfadaptor-base);
  fill-opacity:1;
  stroke: var(--wfadaptor-base);
  stroke-width:0.2;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
svg .white {
  fill: var(--wfadaptor-background);
  fill-opacity:1;
  stroke: var(--wfadaptor-background);
  stroke-width:1.6;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
svg .black {
  fill: var(--wfadaptor-base);
  fill-opacity:1;
  stroke: var(--wfadaptor-base);
  stroke-width: 1.6;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
svg .grey {
  fill: var(--wfadaptor-base-light);
  fill-opacity:1;
  stroke: var(--wfadaptor-base-light);
  stroke-width: 1.6;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}

svg.labelsrow text.label {
  cursor: pointer;
}
svg.labelsrow text.label:hover, svg.labelsrow text.label.hover {
  fill: var(--wfadaptor-selected-text);
}

svg .unknown {
  fill: var(--wfadaptor-background);
  fill-opacity:1;
  stroke: var(--wfadaptor-base);
  stroke-width:1.6;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}

svg .gen {
  fill:ButtonFace;
  fill-opacity:1;
  stroke-opacity:0.7;
  stroke: var(--wfadaptor-base);
  stroke-width:1.6;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
svg .standwithout {
  fill: var(--wfadaptor-background);
  fill-opacity:1;
}
svg .standtrans {
  fill: var(--wfadaptor-background);
}

svg text.super {
  font-size:11px;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  text-align:center;
  line-height:100%;
  writing-mode:horizontal-tb;
  text-anchor:start;
  color: var(--wfadaptor-base);
  fill: var(--wfadaptor-base);
  fill-opacity:1;
  stroke:none;
}
svg tspan.exec {
  fill: var(--wfadaptor-exec-active-text);
  display: none;

  stroke: var(--wfadaptor-background);
  stroke-width: 3px;
  stroke-linecap:round;
  stroke-linejoin:round;
  paint-order: stroke markers fill;
}
svg tspan.active {
  fill: var(--wfadaptor-exec-active-text);
  display: none;

  stroke: var(--wfadaptor-background);
  stroke-width: 3px;
  stroke-linecap:round;
  stroke-linejoin:round;
  paint-order: stroke markers fill;
}
svg tspan.vote {
  fill: var(--wfadaptor-exec-vote-text);
  display: none;

  stroke: var(--wfadaptor-background);
  stroke-width: 3px;
  stroke-linecap:round;
  stroke-linejoin:round;
  paint-order: stroke markers fill;
}
svg tspan.colon {
  display: none;
}
svg tspan.necessary {
  display: inline;
}

svg text.label {
  font-size:14px;
  font-style:normal;
  font-variant:normal;
  font-stretch:normal;
  text-align:center;
  line-height:125%;
  writing-mode:horizontal-tb;
  text-anchor:start;
  color: var(--wfadaptor-base);
  fill: var(--wfadaptor-base);
  fill-opacity:1;
}
svg text.label tspan {
  font-size:12px;
}

svg text.label.standalone {
  stroke: var(--wfadaptor-background);
  stroke-width: 3px;
  stroke-linecap:round;
  stroke-linejoin:round;
  paint-order: stroke markers fill;
}
svg text.label.rotate {
  transform: translateY(10px) rotate(-30deg);
}

#arrow {
  stroke: var(--wfadaptor-base);
  stroke-width: 2;
  fill: var(--wfadaptor-base);
}

svg g.element[element-id].hover {
  cursor: pointer;
}

svg g.element[element-id] .hoverstyle {
  visibility: hidden;
  stroke-width: 1.6;
}
svg g.element[element-id] .markstyle {
  visibility: hidden;
  stroke-width: 1.6;
}

svg g.element[element-id].hover .hoverstyle {
  visibility: visible;
  fill: var(--wfadaptor-hover);
  stroke: var(--wfadaptor-hover-border);
  stroke-width: 1.6;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray: 1,3;
}

svg .marked .markstyle {
  visibility: visible !important;
  stroke: var(--wfadaptor-mark) !important;
  fill: var(--wfadaptor-background);
  stroke-width: 1.6;
}

svg g.element[element-id].hover > text.label {
  color: var(--wfadaptor-selected);
  fill: var(--wfadaptor-selected);
}

svg text.label.selected {
  fill: var(--wfadaptor-selected-text);
}
svg .selected .markstyle {
  visibility: visible !important;
  fill: var(--wfadaptor-selected) !important;
  stroke: var(--wfadaptor-selected-border);
  stroke-width: 1.6;
}
