@font-face {
  font-family: adawaita-sans;
  src: url(AdwaitaSans-Regular.ttf);
}

/* :root {
  --x-ui-border-color: #a1a1a1;
  --x-ui-outside-color: #ffffff;
  --x-ui-background-color: #ffffff;
  --x-ui-light-text-color: #333;
  --x-ui-light-back-color: #e8e8e8;
  --x-ui-link-color: #425d73;
  --x-ui-content-border-color: #ffed00;
  --x-ui-content-light-background-color: #f0f0f0;
  --x-ui-content-hover-background-color: #99cce660;
} */

:root {
  --background-color: #f4f4f4;
  --x-ui-background-color: #ffffff;
  --x-ui-outside-color: #f4f4f4;
  --x-tab-inactive-color: #f3f3f3;
  --x-ui-border-color: #d4d4d4;
  /* #d4d4d4;#c8c8c8; #d0d0d0*/
  --x-ui-border-light-color: #e6e6e6;
  /* --x-ui-content-border-color: #ffed00; */
  --x-ui-content-light-background: #f3f3f3;
  --x-ui-content-hover-background: #e6e6e6;
  --x-ui-content-highlighted-background: #99cce660;
  /* #dddddd;*/

  /* --x-ui-outside-behind-text-color: #333;
  --x-ui-outside-behind-text-active-color: #333; */
  --x-ui-text-color: #2b2b2b;
  --x-ui-text-secondary-color: #585858;
  --x-ui-text-muted-color: #a0a0a0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  min-height: 100vh;
}

body[is="x-ui-"] {
  overflow-y: auto;
  font-size: 14px;
}

body[is="x-ui-"] {
  font-weight: 400;
  color: var(--x-ui-text-color);
  background-color: var(--x-ui-background-color);
  /* background-color: #f4f5f7; */
}

body[is="x-ui-"] ui-rest {
  background-color: var(--x-ui-outside-color);
}

body[is="x-ui-"] ui-resizehandle {
  background-color: transparent;
}

.header {
  background-color: var(--x-ui-outside-color);
  padding: 5px 12px;
}

.page-rail {
  max-width: 1050px;
  margin: 0 auto;
  width: 100%;
}

input {
  border-color: var(--x-ui-border-color);
  /* width: 100%; */
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clickable {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}

.field {
  display: flex;
  align-items: center;
}

.inline-editor {
  /* display: inline-block; */
  display: inline-flex;
  align-items: center;
}

.inline-editor__view {
  /* width: 100%; */
  /* display: inline-flex;
  align-items: center; */
  /* max-width: 240px; */
  /* padding: 2px 6px; */
  /* border-radius: 6px; */

  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inline-editor__view[data-editable="1"] {
  cursor: text;
}

/* .inline-editor__view:hover {
  background-color: rgba(0, 0, 0, 0.06);
} */

.inline-editor__input {
  width: 100%;
  /* display: none; */
  /* font: inherit;
  padding: 2px 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  min-width: 1ch;
  width: auto; */
}

.inline-edit.is-editing .inline-edit__view {
  display: none;
}

.inline-edit.is-editing .inline-edit__input {
  display: inline-block;
}

/* -- my x-ui styles -- */

ui-bar {
  display: flex;
  align-items: center;
  background-color: var(--x-ui-background-color);
  max-width: 100%;
}

ui-divider {
  display: block;
  width: 100%;
  border-top: 1px solid var(--x-ui-border-light-color);
}

ui-divider.light {
  border-color: var(--x-ui-border-light-color);
}

/* -- global styles -- */

ui-bar fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* .bar {
  height: 4px;
  background-color: var(--wfadaptor-base);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
} */

ui-bar>.right {
  margin-left: auto;
  /* align-items: center; */
}

ui-bar>.center {
  margin: 0 auto;
}

.item-group {
  display: flex;
  gap: 0.6em;
  align-items: center;
}

.center {
  text-align: center;
}

*[is=x-ui-] button {
  transition: all 0.2s ease;
  padding: .1em .3em;
  background: #fff;
}

*[is=x-ui-] select {
  background: #fff;
}

*[is=x-ui-] button:not(:disabled):active {
  background: var(--x-ui-content-light-background-color)
}

*[is=x-ui-] button:disabled,
*[is=x-ui-] select:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  color: var(--x-ui-text-muted-color);
}

*[is=x-ui-] button.btn-primary {
  background: #333;
  border-color: #333;
  color: #fff;
}

*[is=x-ui-] button.btn-primary:not(:disabled):active {
  background: #000 !important;
  border-color: #000;
}

*[is=x-ui-] button.btn-text {
  border: none;
  background: transparent;
  color: inherit;
}

*[is=x-ui-] button.btn-text:not(:disabled):hover {
  background: var(--x-ui-content-hover-background);
}

button.more-actions-btn {
  /* width: 100%; */
  border: none;
  /* height: 100%; */
  /* width: 1.8rem;
  height: 1.8rem; */
  padding: 0 0.4em;
  /* border: 1px solid transparent;
  border-radius: 8px; */
  color: var(--x-ui-text-secondary-color);
  background: transparent;
  /* font-size: 16px; */
  /* line-height: 1; */
}

button.more-actions-btn::before {
  content: "\22EF";
}

button.more-actions-btn:hover:not(:disabled) {
  color: var(--x-ui-text-color);
  background: rgba(0, 0, 0, 0.1);
}


button.more-actions-btn:focus-visible {
  outline: 2px solid var(--x-ui-border-color);
  outline-offset: 1px;
}

.switch-btn-group {
  display: inline-flex;
  gap: 4px;
}

button.switch-btn {
  /* border: none; */
  background-color: var(--x-ui-background-color);
  /* padding: 8px 10px; */
  /* border-radius: 8px; */
  /* cursor: pointer; */
  /* font-size: 18px; */
  /* color: #555; */
  transition: all 0.2s ease;
}

/* .switch-btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
} */

button.switch-btn.is-current {
  background-color: var(--x-ui-content-light-background);
}


ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

li {
  max-width: 100%;
}


ul.breadcrumb {
  display: flex;
  align-items: center;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb>li+li:before {
  padding: 8px;
  color: var(--x-ui-text-muted-color);
  content: "/\00a0";
}

/* Add a color to all links inside the list */
/* ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
} */

/* Add a color on mouse-over */
/* ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
} */

/* ui-behind {
  text-transform: capitalize;
  font-weight: bold;
  color: #d0d0d0;
} */

/* ui-behind span {
  cursor: pointer;
} */


.loading-dots::after {
  content: '';
  animation: loading-dots 1.5s steps(4, end) infinite;
}

@keyframes loading-dots {
  0% {
    content: '';
  }

  25% {
    content: '.';
  }

  50% {
    content: '..';
  }

  75% {
    content: '...';
  }

  100% {
    content: '';
  }
}