:root {
  --hh-gutter-margin: 0;
  --hh-marker-size: 65 / 100;
}

h1:before, .HyperMD-header-1:not(.cm-active):before {
  content: "H1 ";
  font-size: calc(var(--h1-size) * var(--hh-marker-size));
  margin-left: var(--hh-gutter-margin);
}
h2:before, .HyperMD-header-2:not(.cm-active):before {
  content: "H2 ";
  font-size: calc(var(--h2-size) * var(--hh-marker-size));
  margin-left: var(--hh-gutter-margin);
}
h3:before, .HyperMD-header-3:not(.cm-active):before {
  content: "H3 ";
  font-size: calc(var(--h3-size) * var(--hh-marker-size));
  margin-left: var(--hh-gutter-margin);
}
h4:before, .HyperMD-header-4:not(.cm-active):before {
  content: "H4 ";
  font-size: calc(var(--h4-size) * var(--hh-marker-size));
  margin-left: var(--hh-gutter-margin);
}
h5:before, .HyperMD-header-5:not(.cm-active):before {
  content: "H5 ";
  font-size: calc(var(--h5-size) * var(--hh-marker-size));
  margin-left: var(--hh-gutter-margin);
}
h6:before, .HyperMD-header-6:not(.cm-active):before {
  content: "H6 ";
  font-size: calc(var(--h6-size) * var(--hh-marker-size));
  margin-left: var(--hh-gutter-margin);
}