[is="x-ui-"] {
  /* font-family: adawaita-sans; */
  /* font-size: 1em; */
  overflow-y: auto;
}
body {
  /* height: auto; */
  min-height: 100vh;
  /* overflow-y: auto; */
}
body[is="x-ui-"] > ui-rest {
  padding-bottom: 24px;
}
.home-intro {
  margin-top: 36px;
  margin-bottom: 24px;
  text-align: center;
}
.home-footer {
  font-size: 0.85em;
  color: var(--x-ui-light-text-color);
}
/* h1 {
  font-size: 2.5em;
  font-weight: 600;
  color: #111;
} */

#btnCreate {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 0.5em 1.5em;
  margin-top: 12px;
  margin-bottom: 10px;
  background: #222;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1.25em;
  font-weight: 600;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
}

.clickable {
  cursor: pointer;
}
*[is="x-ui-"] ui-tabbar {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0;
}
*[is="x-ui-"] ui-tabbar > ui-tab {
  /* border-bottom-width: 2pt; */
  position: relative;
  padding-left: 0.65em;
  padding-right: 0.65em;
}
*[is="x-ui-"] ui-tabbar > ui-tab:not(.inactive)::after {
  content: "";
  position: absolute;
  /* 覆盖位置 */
  bottom: -2pt;
  left: 0;
  right: 0;
  height: 2pt;

  background: var(--x-ui-background-color);
  /* 关键 */
  z-index: 2;
  pointer-events: none;
}
*[is="x-ui-"] ui-tabbar > ui-tab.inactive {
  border-bottom: none;
}
[is="x-ui-"] ui-tabbar > ui-before {
  /* border-bottom: 1pt solid var(--x-ui-border-color); */
  padding-left: 1.5em;
}

*[is="x-ui-"] ui-content {
  position: relative;
  border-top: 1pt solid var(--x-ui-border-color);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

table thead th {
  font-weight: bold;
  text-align: left;
  /* padding: 0.3em 0.5em; */
}

td,
th {
  padding: 0.5em 1em;
}

.col-num {
  text-align: right;
  width: 90px;
}

.col-date {
  padding-left: 2em;
  width: 100px;
  white-space: nowrap;
}
.col-button {
  width: 100px;
  text-align: center;
  cursor: pointer;
}

#projectsTable th:last-child {
  width: 80px;
  text-align: center;
}
#projectsTable td:last-child {
  width: 80px;
  text-align: center;
}

#projectsTable tbody tr td:first-child:hover {
  text-decoration: underline;
}
