[is="x-ui-"] {
  overflow-y: auto;
}
body {
  min-height: 100vh;
  /* overflow-y: auto; */
}
body[is="x-ui-"] > ui-rest {
  padding-bottom: 36px;
}
.home-intro {
  padding-top: 32px;
  padding-bottom: 24px;
  text-align: center;
  background-color: var(--x-ui-outside-color);
}
.home-footer {
  font-size: 0.85em;
  text-align: center;
  color: var(--x-ui-text-muted-color);
  background-color: var(--x-ui-outside-color);
}
.home-footer ui-bar {
  background-color: var(--x-ui-outside-color);
  /* color: var(--x-ui-text-muted-color); */
}
#projectsTable_info {
  /* margin-top: 0.5em; */
  font-size: 0.9em;
  color: var(--x-ui-text-secondary-color);
}
/* h1 {
  font-size: 2.5em;
  font-weight: 600;
  color: #111;
} */

#btnCreate {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 0.5em 1.5em;
  margin-top: 12px;
  margin-bottom: 10px;
  background: #222;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1.25em;
  font-weight: 600;
  cursor: pointer;
}

*[is="x-ui-"] ui-tabbar {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0;
}
*[is="x-ui-"] ui-tabbar > ui-tab {
  /* border-bottom-width: 2pt; */
  position: relative;
  padding-left: 0.65em;
  padding-right: 0.65em;
}
*[is="x-ui-"] ui-tabbar > ui-tab:not(.inactive)::after {
  content: "";
  position: absolute;
  /* 覆盖位置 */
  bottom: -2pt;
  left: 0;
  right: 0;
  height: 2pt;

  background: var(--x-ui-background-color);
  /* 关键 */
  z-index: 2;
  pointer-events: none;
}

*[is="x-ui-"] ui-tabbar > ui-tab.inactive {
  border-bottom: none;
}

[is="x-ui-"] ui-tabbar > ui-before {
  /* border-bottom: 1pt solid var(--x-ui-border-color); */
  padding-left: 1.5em;
}

*[is="x-ui-"] ui-content {
  position: relative;
  border-top: 1pt solid var(--x-ui-border-color);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

/* *[is="x-ui-"]ui-content > ui-area[data-belongs-to-tab="projects"] {
  padding-bottom: 0.25em;
} */
/* *[is="x-ui-"] ui-content {
  padding-bottom: 0.25em;
} */
*[is="x-ui-"]
  ui-content:has(> ui-area[data-belongs-to-tab="projects"]:not(.inactive)) {
  padding-bottom: 0.25em;
}

#projectsTable,
#projectsTable th,
#projectsTable td {
  box-sizing: border-box;
}
#projectsTable {
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: 1em;
}

#projectsTable th {
  font-weight: bold;
  text-align: left;
  /* padding: 0.3em 0.5em; */
}

#projectsTable td,
#projectsTable th {
  padding: 0.5em 1em;
}

.col-num {
  text-align: right;
  width: 120px;
}
.col-date {
  padding-left: 2em;
  width: 180px;
  white-space: nowrap;
}

td.col-num,
td.col-date {
  color: var(--x-ui-text-secondary-color);
}

#projectsTable td:first-child {
  overflow: hidden;
  white-space: nowrap;
}
#projectsTable td:first-child .inline-editor__view {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#projectsTable td:first-child:hover {
  text-decoration: underline;
}

#projectsTable th:last-child {
  width: 80px;
  text-align: center;
}
#projectsTable td:last-child {
  width: 80px;
  position: relative;
  /* padding: 0.1em 1em; */
}
#projectsTable td:last-child button {
  position: absolute;
  inset: 0.2em 1.5em; /* 你要留边距就用 4px；要贴边就 0 */
  display: flex;
  align-items: center;
  justify-content: center;
  /* inset: 0.1em 1.5em; */
}
/* #projectsTable td:first-child {
  outline: 2px solid red;
}
#projectsTable td:last-child {
  outline: 2px solid blue;
} */
